:root {
  --color-green-dark: #1db954;
  --color-green-light: #1ed760;
  --color-white: #fff;
  --color-gray: #535353;
  --color-black: #191414;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
  color: var(--color-white);
  background: var(--color-black);
}

button {
  border: none;
  background: var(--color-green-dark);
  color: var(--color-white);
}

button:hover {
  cursor: pointer;
}
