@import './base.css';

.desktop {
  display: none;
}

@media (min-width: 480px) {
  .desktop {
    display: inherit;
  }
}

.btn {
  border: none;
  background: var(--color-green-dark);
  color: var(--color-white);
  white-space: nowrap;
}

.btn:hover {
  cursor: pointer;
}
